// Custom styles.
body{
    background:url(C:\Users\74127\Pictures\Cyberpunk 2077\photomode_29032022_231149.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}